.app {
  background-color: #282c34;
  min-height: 100vh;
}

.title {
  margin: 0;
}

.appHeader {
  background-color: #ae671b;
  max-height: 10vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
  padding: 0px 10px;
}

.appLogo {
  height: 50px;
}

.logout {
  display: flex;
}

.logout p{
  font-size: 30px;
}

.body {
  height: 100%;
  color: white;
}

.welcomeMessage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #ae671b;
  color: white;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
